@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom scrollbar styles for the chat window */
.chat-window::-webkit-scrollbar {
  width: 6px;
}

.chat-window::-webkit-scrollbar-track {
  background: transparent;
}

.chat-window::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 3px;
}

/* Firefox scrollbar styling */
.chat-window {
  scrollbar-width: thin;
  scrollbar-color: rgba(0, 0, 0, 0.2) transparent;
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

/* Define a custom CSS variable for the primary text color */
:root {
  --text-primary: #253E54;
}

body {
  color: var(--text-primary) !important;
  font-family: Arial, Helvetica, sans-serif;
}

.chat-bubble-bot a {
  color: blue;
}
