

.chat-widget-root-hgnj {
  @tailwind base;
  @tailwind components;
  @tailwind utilities;
  
  
  position: fixed;
  bottom: 0;
  right: 0;
  z-index: 9999;

  /* Custom scrollbar styles for the chat window */
  .conversation-history::-webkit-scrollbar,
  .chat-window::-webkit-scrollbar {
    width: 6px;
  }

  .conversation-history::-webkit-scrollbar-track,
  .chat-window::-webkit-scrollbar-track,
  .initial-prompts::-webkit-scrollbar-track {
    background: transparent;
  }

  .conversation-history::-webkit-scrollbar-thumb,
  .chat-window::-webkit-scrollbar-thumb,
  .initial-prompts::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 3px;
  }

  /* Firefox scrollbar styling */
  .conversation-history,
  .chat-window,
  .initial-prompts {
    scrollbar-width: thin;
    scrollbar-color: rgba(0, 0, 0, 0.2) transparent;
  }

  /* Define a custom CSS variable for the primary text color */
  :root {
    --text-primary: #253E54;
  }

  body {
    color: var(--text-primary) !important;
    font-family: Arial, Helvetica, sans-serif;
  }

  .chat-bubble-bot a {
    color: blue;
  }

  .prose table {
    width: 100%;
    table-layout: fixed;
    /* Ensures that the table uses the container width */
  }

  .prose th,
  .prose td {
    word-break: break-word;
    overflow-wrap: break-word;
    white-space: normal;
    /* Allow wrapping within table cells */
  }

  /* MessageBubble custom styles */
  .chat-bubble-user {
    /* You can use @apply if these utilities already exist in Tailwind */
    color: black;
    position: relative;
    border-radius: 1rem 1rem 0 1rem;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
    text-align: left;
  }

  .chat-bubble-bot {
    color: #253E54;
    position: relative;
    border-radius: 1rem 1rem 1rem 0;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
    text-align: left;
  }

  .feedback-btns {
    position: absolute;
    bottom: 0px;
    left: 10px;
  }

  .feedback-btn {
    padding: 5px;
    border-radius: 50%;
    background-color: #F1F1F2;
    color: #fc6b2d;
  }

  .feedback-btn:hover {
    background-color: #fc6b2d1a;
  }

  .feedback-btn.active {
    background-color: #fc6b2d1a;
  }
}

/* Mobile responsiveness */
@media (max-width: 640px) {
  .chat-widget-root-hgnj {
    /* Take up more space on mobile */
    .chat-bubble-user,
    .chat-bubble-bot {
      max-width: 90%;
      padding: 0.5rem;
    }
    
    /* Smaller font for mobile */
    .prose {
      font-size: 0.9rem;
    }
    
    /* Adjust feedback buttons position */
    .feedback-btns {
      bottom: 0px;
    }
    
    /* Adjust header padding */
    /* .bg-[#fc6b2d] {
      padding: 0.75rem;
    } */
  }
  /* Add this animation */

}
@keyframes bounce {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
}

.bounce-animation {
  animation: bounce 1.5s ease-in-out infinite;
}